spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/macro_plan"
    username: [username]
    password: [password]
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
    # must enable to see sql queries in stdout
#    properties:
#      hibernate:
#        show_sql: true
#        use_sql_comments: true
#        format_sql: true
#        type: trace

# must enable to see sql query value bindings in stdout
#logging:
#  level:
#    org:
#      hibernate:
#        type: TRACE
      
macro-plan:
  seed-on-startup: true